tharik/ng-web-client/src/wsdl/localhost_8080/ng-web-service/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://icbt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://icbt/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://icbt/" schemaLocation="http://localhost:8080/ng-web-service/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getStudents">
<part name="parameters" element="tns:getStudents"/>
</message>
<message name="getStudentsResponse">
<part name="parameters" element="tns:getStudentsResponse"/>
</message>
<message name="getStudent">
<part name="parameters" element="tns:getStudent"/>
</message>
<message name="getStudentResponse">
<part name="parameters" element="tns:getStudentResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addStudent">
<part name="parameters" element="tns:addStudent"/>
</message>
<message name="addStudentResponse">
<part name="parameters" element="tns:addStudentResponse"/>
</message>
<message name="updateStudent">
<part name="parameters" element="tns:updateStudent"/>
</message>
<message name="updateStudentResponse">
<part name="parameters" element="tns:updateStudentResponse"/>
</message>
<message name="deleteStudent">
<part name="parameters" element="tns:deleteStudent"/>
</message>
<message name="deleteStudentResponse">
<part name="parameters" element="tns:deleteStudentResponse"/>
</message>
<portType name="NewWebService">
<operation name="getStudents">
<input wsam:Action="http://icbt/NewWebService/getStudentsRequest" message="tns:getStudents"/>
<output wsam:Action="http://icbt/NewWebService/getStudentsResponse" message="tns:getStudentsResponse"/>
</operation>
<operation name="getStudent">
<input wsam:Action="http://icbt/NewWebService/getStudentRequest" message="tns:getStudent"/>
<output wsam:Action="http://icbt/NewWebService/getStudentResponse" message="tns:getStudentResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://icbt/NewWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://icbt/NewWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addStudent">
<input wsam:Action="http://icbt/NewWebService/addStudentRequest" message="tns:addStudent"/>
<output wsam:Action="http://icbt/NewWebService/addStudentResponse" message="tns:addStudentResponse"/>
</operation>
<operation name="updateStudent">
<input wsam:Action="http://icbt/NewWebService/updateStudentRequest" message="tns:updateStudent"/>
<output wsam:Action="http://icbt/NewWebService/updateStudentResponse" message="tns:updateStudentResponse"/>
</operation>
<operation name="deleteStudent">
<input wsam:Action="http://icbt/NewWebService/deleteStudentRequest" message="tns:deleteStudent"/>
<output wsam:Action="http://icbt/NewWebService/deleteStudentResponse" message="tns:deleteStudentResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getStudents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/ng-web-service/NewWebService"/>
</port>
</service>
</definitions>